.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-news{
  width:30%;
  height:70vh;
  border:1px solid black;
  border-radius:10px;
  box-shadow: 4px 4px 3px rgb(141, 141, 141);
  margin-left: 3%;
  margin-bottom: 5vh;
  margin-top: 3vh;
}
.heading{
  color: rgb(64, 64, 229);

}
.cont{
  padding:20px;
  font-size: 10px;
}
.img{
  height:30vh;
}
.desc{
  font-size: 16px;
}
.title{
  font-size:25px;
}



.head{
  font-size: 12px;
  width: 100%;
  position: fixed;
  display: flex;
  background-color:rgb(161, 233, 67);
  color:rgb(255, 255, 255);
  align-items: center;
  justify-content:space-between;
  height:10vh;
  padding:0 2rem;
  box-shadow: 4px 4px 3px rgb(0, 0, 0);
}
.logo{
  height: 20px;
  width: 20px;
  top:0;
}
.logos{
  height: 70px;
  width: 70px;
}
nav{
  margin-top:1.5rem;
  list-style: none;
  list-style-type: none;
  display: flex;
  
}

nav li{
  font-size: 18px;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
nav li:after{
content: '';
width:0;
height:3px;
position: absolute;
left:0;
background-color: rgb(249, 101, 237);
bottom: -0.8rem;
}
nav li:hover:after{
  width: 100%;
}
.more{
  border:1px solid black;
  padding:0.4rem;
  border-radius: 8rem;
  width:3rem;
  text-align: center ;
  background-color:aqua;
  cursor: pointer;
  margin-right:40px;
  
}
.more a{
  text-decoration: none;
  font-size: 13px;
  font-weight: bolder;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}